h1{
	font-size:50px;
	text-align:center;
}
header{
	text-align:center;
	font-size:30px;
	background-color:Black;
	color:#ffffff;
}
img{
	display:block;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}
body{
	background-color:black;
	
}
details {
	font-style:italic;
	font-size:25px;
	color:#ffffff;
	margin:50px;
}
summary{
	background-color:#8fa9a9;
	font-style:normal;
	color:#ffffff;
	/*change color*/
}

h2{
	font-size:35px;
	margin:0;
	background-color:#8fa9a9;
	width:100%px;
	color:#ffffff;
}
section{
	display:inline-block;
}
ol{
	list-style-type:upper-roman;
}
li{
	padding-right:15px;
	border:2px solid black;
	width:60%;
	height:60px;
	display:block;
	background-color:green;
	text-align:center;
	padding-top:10px;	
	margin:10px;
}

a{
	text-decoration:none;
	font-family:cursive;
	font-size:20px;
	color:#ffffff;
}


pre{
	font-family:Cursive;
	font-size:25px;
	padding-right:50px;
	color:#ffffff;

}
p{
	font-family:Cursive;
	font-size:25px;
	color:#ffffff;
	
}
li:hover{
	background-color:aqua;
	color:black;
 }
 a:hover{
 	color:black;
 }
 li:focus{
 	background-color:aqua;
 	color:white
 }
 li:active{
	border:3px solid white;

}
 li{

 	background-color:black;
 	border:2px solid white;
 }



